<!DOCTYPE html>
<html>
 <head>
  <link rel="stylesheet" type="text/css" href="style.css">
 </head>
<body>

<div class="rcw-widget-container  rcw-opened">

    <div class="rcw-conversation-container">

        <div class="rcw-header">
            <button class="rcw-close-button">
                <img src="###" class="rcw-close" alt="close">
            </button>
            <h4 class="rcw-title">DeltaProto</h4>
        </div>

        <div id="messages" class="rcw-messages-container">

            <div class="rcw-message">
                <img src="###" class="rcw-avatar" alt="profile">
                <div class="rcw-response">
                    <div class="rcw-message-text">
                        <p>Welcome to DeltaProto!</p>
                    </div>
                </div>
            </div>

            <div class="rcw-message">
                <div class="rcw-client">
                    <div class="rcw-message-text">
                        <p>hello</p>
                    </div>
                </div>
            </div>

        </div>

        <form class="rcw-sender">
            <input type="text" class="rcw-new-message" name="message" placeholder="Type a message..." autocomplete="off">

            <button type="submit" class="rcw-send">
                <img src="###" class="rcw-send-icon" alt="send">
            </button>

        </form>

    </div>

    <button type="button" class="rcw-launcher rcw-hide-sm">
        <img src="###" class="rcw-close-launcher" alt="">
    </button>
    
</div>

</body>
</html>